body {
    margin: 100px;
}

.div-title {
    text-align: center;
    position: relative;
    bottom: 1200px;
    left: 15px;
    font-size: 40px;
    color: #eef1f1;
    font-style: normal;
    font-weight: 400;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container {
    background-image: url(../Banner\ Image.png);
    padding: 1300px 600px;
    background-repeat: no-repeat;
    background-position: top center;
    border-radius: 16px;
    margin-top: 20px;
    background-blend-mode: darken;

}

.div-h {
    text-align: center;
    position: relative;
    bottom: 1280px;
    left: 250px;
    font-size: 75px;
    margin-right: 500px;
    color: #0d0e0e;


}

div {
    text-align: center;
    position: relative;
    bottom: 2400px;
}

.off {
    color: rgb(249, 6, 193);
    text-align: center;
    font-size: 92px;
    font-style: normal;
    font-weight: 700;
    padding: 0, 38px, 0, 0;
}

.p {
    color: rgb(245, 7, 150);
    font-size: 30px;
    position: relative;
    bottom: 20px;
}

.all {
    font-size: 58px;
    position: relative;
    bottom: 95px;
}

.img {
    position: relative;
    bottom: 2540px;
    left: 870px;
    /* margin: 1000px; */


}

.welcome {
    background-image: url(../Vectorrr.png);
    padding: 1300px 600px;
    background-repeat: no-repeat;
    background-position: center;
    bottom: 3500px;
    gap: 24px;

}

#extra-div{
    /* background-position:3000px;/ */
    position: relative;
    bottom: 5200px;
    left: 350px;
}

.party {
    display: flex;
    color: #eef1f1;
    font-size: 70px;
    /* float: left; */
    font-style: normal;
    font-weight: 900;
    position: relative;
    bottom: 50px;
    left: 30px;
    padding: 126px, 552px, 126px, 298px;
}

.small {
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
   position: relative;
   right: 330px;
   bottom: 100px;
}

.button{
    display: flex;
    border: rgb(249, 6, 193);
    /* background-color: chartreuse; */
    /* padding: 0; */
    position: relative;
    left: 100px;
    bottom: 100px;
    /* font-size: 100px; */
    background: chartreuse;
    border-radius: 5px;
    
}

.about{
    display: block;
    background-color: ;
    text-align: top center;
    margin: 0;
    /* display: flex; */
    font-size: 35px;
    /* background-color: rgba(yellow, gray, red); */
    /* padding: 1300px 582px; */
}

.as{
    /* display: flex; */
    /* justify-content: right;/ */
    gap: 10px;
    text-align: center;
}
span{
    color: rgb(253, 97, 50);
}

.color{
    padding: 130px;
    border-radius: 10px;
    background: #e2660e;
}

.asd{
    font-size: 20px;
    width: 150px;
    height: 50px;
    background-color: #e2660e;
}

.as{
    background-color: #fff8f3;
}